/* Colors */
/*
    color:#b02927;
    color:#ffffff;
    color:#73BDB8;
    color:#307A70;
    color:#0F3638; */


html {
    height:100%;
    font-family: 'Montserrat', sans-serif;
}

body {
        margin:0px;
        margin-top:4rem;
        background-color:black;
        color:white;
        height:100%;
    }    

#nav-bar {
    display:inline-flex;
    position:fixed;
    justify-content: space-between;
    top:0px;
    width:100%;
    background-color: #b02927;
    color:white;
    align-items: center;
}

#header-img {
max-height:4rem;
width:auto;
}

#logo {
    display:flex;
    align-items: center;
}

#nav-links {
    display:flex;
    justify-content: space-between;
}

a {
    color:white;
}

.nav-link {
    padding:0px 2rem;
}

#landingcontainer {
    background-image: url(../images/betta1-removebg.png);
    background-position:right;
    background-attachment:fixed;
    background-size:contain;
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    color:white;
    display:flex;
    justify-content:center;
    align-items: center;
}

#landing {
    justify-content: center;
    text-align: center;
}

#brand {
    width:40%;
    height:auto;
}


#products {
    display:inline-flex;
}

@media (max-width:800px) {
    #products {
        flex-direction: column;
    }
}